{% extends 'loginbase.html' %}

{% block title %}
    密码修改
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',
        filename='css/css/bootstrap/css/change-password.css') }}">
{% endblock %}
{% block main %}
    <div class="container change-password">
        <div class="row">

            <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
                <h3 class="page-title">
                    修改密码
                </h3>
                <form action="{{ url_for('web.change_password') }}" method="post">
                    <div class="form-container">
                        <div class="form-group">
                            <input type="password" id="old_password" class="form-control" placeholder="原来的密码"
                                   name="old_password">
                        </div>

                        <div class="form-group">
                            <input type="password" id="new_password1" class="form-control" placeholder="新的密码"
                                   name="new_password1">
                        </div>
                        <div class="form-group">
                            <input type="password" id="new_password2" class="form-control" placeholder="再次确认"
                                   name="new_password2">
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary btn-block" type="submit" id="btn-submit" value="确认修改">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}