{% extends 'loginbase.html' %}

{% block title %}密码找回{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',
    filename='css/css/bootstrap/css/forget-password.css') }}">
{% endblock %}
{% block nav %}
{% endblock %}
{% block main %}
    <div class="container forget-password">
        <div class="row flex-vertical-center">
            <div class="col-md-6 title">
                <span class="sub-title">
                    找回密码
                </span>
                <hr>
            </div>
        </div>
        <div class="row flex-vertical-center">
            <div class="col-md-6 info-title">

                <div>
                    <span class="info-title">请填写你的注册邮箱 : <small>系统将发送你的请求至你的的邮箱</small></span>
                </div>
                <div>
                    <span class="info-title"><strong>注意 : </strong><small></small>如果你的注册邮箱未经验证将无法通过邮箱找回密码!</span>
                </div>
                <hr>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-4">
                <form action="" method="post">
                    <div class="form-container">
                        <div class="form-group">
                            <input type="text" id="email" class="form-control"
                                   placeholder="你的邮箱地址" name="email">
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary btn-block" type="submit" id="btn-submit" value="提交">
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12" style="height: 100px;"></div>
        </div>
    </div>
{% endblock %}